<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747360359366-94oavpff1nmpa6nvumdjnqkqov0ku6dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747360359366-94oavpff1nmpa6nvumdjnqkqov0ku6dd</string>
	<key>API_KEY</key>
	<string>AIzaSyBDc6UiHT-7vvKWYLjz4YGPiGkn_PcWFH0</string>
	<key>GCM_SENDER_ID</key>
	<string>747360359366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mcom.daikin</string>
	<key>PROJECT_ID</key>
	<string>daikin-cf085</string>
	<key>STORAGE_BUCKET</key>
	<string>daikin-cf085.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747360359366:ios:129a8de51e6cd223b598c7</string>
	<key>DATABASE_URL</key>
	<string>https://daikin-cf085.firebaseio.com</string>
</dict>
</plist>